{% extends 'base.html' %}

{% block title %} Recipe List {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>
            Welcome, {{ request.user.username }}
        </h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        {% for recipe in object_list %}
            <li><a href="{{recipe.get_absolute_url}}"> {{recipe.name}}</a></li>
            <p> Author : {{recipe.author}} </p>
            <p> Created on : {{recipe.created_on}} </p>
            <p> Last Updated on : {{recipe.updated_on}} </p>
        {% endfor %}
    {% else %}
        <a href="{% url 'login' %}">
            Login
        </a>
    {% endif %}
{% endblock %}